* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #F5F8FF;
}

.noto-serif-bold {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.inter-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
}

.inter-semi-bold {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
}

.inter-regular {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter-medium {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

header {
    margin: auto;
    margin-top: 20px;
}

.header-content {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

nav a {
    margin-left: 48px;
    color: #8987A1;
    font-size: 16px;
}

.active {
    color: black;
}

.banner-content {
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-top: 180px;
    justify-content: center;

}

.banner-heading {
    font-size: 65px;
    color: #000000;
}

.banner-description,
.plants-description,
.footer-description {
    font-size: 22px;
    color: #8987A1;

}

.banner-description {
     color: rgba(0, 0, 0, 0.534);
}

span {
    color: #E95A08;
}

.banner-text {
    width: 570px;
}

.banner-img {
    width: 570px;
}

.mobile-nav {
    display: none;
}

/* plants section */

.plants-container {
    width: 1140px;
    margin: auto;
}

.plants-content {
    width: 1140px;
    display: grid;
    grid-template-columns: auto;
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

.plants-heading {
    font-size: 50px;

}


.card-div {
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card {
    text-align: center;
    width: 270px;
    height: 484px;
    display: grid;
}

.card-img {
    width: 270px;
}

.card-title {
    font-size: 22px;
}

.card-prize {
    font-size: 22px;
}

.card-btn {
    background-color: #E95A08;
    font-size: 16px;
    color: #F5F8FF;
}

.lover-container {
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    margin-top: 200px;

}

.lover-img {
    width: 540px;
    position: relative;


}

.lover-content {
    width: 540px;
    height: 520px;
    padding: 20px 0px;
}

.trusted-badge {
    width: 280px;
    position: absolute;
    top: -20%;
    right: -20%;
    animation: spin 4s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

     100% {
        transform: rotate(360deg);
    }
}

.lover-title {
    font-size: 50px;
    padding-left: 50px;
}

.lover-content ul li {
    width: 540px;
    font-size: 22px;
    color: #8987A1;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
}



/* Deal section */

.deal-section {
    margin-top: 100px;

}

.break-line {
    display: none;
}

/* off section */

.off-section {
    width: 1140px;
    margin: auto;
    margin-top: 50px;
}

.off-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.bloom-plant {
    background-image: url('../assets/deal-bloom.png');
    width: 366px;
    height: 206px;
    background-repeat: no-repeat;
}

.ana-plant {
    background-image: url('../assets/deal-ana.png');
    background-repeat: no-repeat;
    width: 366px;
    height: 206px;
    margin-top: 10px;
}

.zabo-plant {
    background-image: url('../assets/deal-zabo.png');
    background-repeat: no-repeat;
    width: 753px;
    height: 423px;
}

.bloom-plant,
.ana-plant,
.zabo-plant {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
}

.overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    z-index: 1;
}

.bloom-plant,
.ana-plant,
.zabo-plant {
    position: relative;
}

.bloom-plant>h3,
.bloom-plant>a,
.ana-plant>h3,
.ana-plant>a,
.zabo-plant>h3,
.zabo-plant>a {
    position: relative;
    z-index: 2;
}

/* join section */

.join-section {
    width: 100%;
    height: 533px;
    background-image: url('../assets/news-letter-bg.png');
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}


.join-content {
    width: 830px;
    text-align: center;

}

input {
    width: 644px;
    height: 50px;
    padding: 20px;
    margin-top: 20px;
    background-color: #FFFFFF;
}

.join-btn {
    width: 186px;
    height: 50px;
    margin-top: 20px;
}

/* footer */

footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: auto; */
    padding: 50px;
    background-color: #FFFFFF;
}

.footer-content {
    width: 1120px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-logo {
    width: 359px;
    margin-right: 50px;
    margin-top: 20px;
}

.footer-description{
    margin-top: 20px;
}

footer ul li {
    font-size: 16px;
    color: rgb(128, 128, 128, 50);
    display: flex;
    margin-top: 20px;
}


.social-site {
    height: 36px;
    display: flex;
    gap: 24px;
    margin-top: 20px;
}


@media screen and (max-width: 480px) {

    .header-content,
    .banner-content {
        width: 393px;
    }

    .header-content {
        padding: 10px;
    }

    .logo-img {
        width: 63px;
    }

    .active {
        width: 22px;
        height: 15px;
        font-size: 16px;
    }

    .banner-content {
        flex-direction: column-reverse;
        margin-top: auto;
        padding-top: 20px;
    }

    .break-line {
        display: block;
    }

    .banner-heading {
        font-size: 24px;
        color: #000000;
        margin-bottom: 10px;
    }

    .banner-description {
        font-size: 14px;
        color: gray;
    }

    .banner-text {
        width: 360px;
        margin: 20px auto;
    }


    .banner-img {
        width: 393px;
    }

    .mobile-nav {
        display: inline-block;
    }

    .desktop-nav {
        display: none;
    }

    /* card section */

    .plants-container {
        width: 393px;
        margin: auto;
    }

    .plants-content {
        width: 336px;
        margin: auto;
    }

    br {
        display: none;
    }

    .plants-heading {
        font-size: 24px;
    }

    .plants-description {
        font-size: 14px;
        margin-top: 10px;
    }

    .card-div {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding-left: 10px;
        padding-right: 10px;
    }

    .card {
        width: 171px;
        height: 340px;

    }

    .card-title,
    .card-prize,
    .card-btn {
        font-size: 16px;
    }

    /* lover section */

    .lover-container {
        display: flex;
        flex-direction: column;
        width: 361px;
        margin: auto;
    }


    .lover-img {
        width: 361px;
        margin-top: 50px;
    }

    .trusted-badge {
        display: none;
    }

    .lover-content {
        width: 361px;
        height: 397px;
    }

    .lover-title {
        font-size: 24px;
        padding: 0px;
    }

    .lover-item {
        font-size: 14px;
        width: 361px;
    }

    .lover-content ul li {
        font-size: 14px;
        width: 361px;
        padding-left: 10px;
    }




    /* Deal section */

    .deal-section {
        width: 393px;
        margin: auto;
        margin-top: 0px;
    }

    .deal-title {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .deal-subtitle {
        font-size: 14px;
        width: 336px;
        margin: auto;
    }

    /* off section */

    .off-section {
        padding: 0px 10px;
        width: 393px;
    }

    .off-content {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-top: 50px;
    }

    .off-title {
        font-size: 20px;
    }

    .zabo-plant>a {
        font-size: 16px;
    }

    .bloom-plant,
    .ana-plant,
    .zabo-plant {
        width: 361px;
        height: 184px;
    }

    /* join section */

    .join-section {
        width: 393px;
        height: 275px;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    .join-content {
        width: 321px;
    }

    .join-heading {
        font-size: 20px;
    }

    input {
        width: 218px;
    }

    .join-btn {
        width: 103px;
    }

    /* footer section */

    footer {
        width: 393px;
        overflow: hidden;
    }

    .footer-content {
        width: 393px;
        display: grid;
        grid-template-columns: 1fr;
        gap: 10px;
        padding-left: 20px;
    }

    .footer-description {
        font-size: 16px;
        margin-top: 10px;
    }

    .social-site {
        margin-top: 20px;
    }

    footer ul li {
        font-size: 16px;
        margin-top: 10px;
    }



}