*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #F5F8FF;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.noto-serif-bold {
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.inter-semi-bold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-medium {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

header{
    margin: auto;
    margin-top: 20px;
}

.header-container{
   
}

.header-content{
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.logo-img{

}

nav a{
    margin-left: 48px;
    color: #8987A1;
    font-size: 16px;
}

.active{
    color: black;
}

.banner-content{
    margin-top: 50px;
    display: flex;
    align-items: center;
    padding-top: 180px;
    justify-content: center;

}

.banner-heading{
    font-size: 65px;
    color: #000000;
}

.banner-description{
    font-size: 22px;
    color: gray;
    /* text-shadow:  gray; */

}

span{
    color: #E95A08;
}

.banner-text{
    width: 570px;
}

.banner-img{
    width: 570px;
}

.mobile-nav{
    display: none;
}

/* plants section */

.plants-container{
    width: 1140px;
    margin: auto;
}

.plants-content{
    width: 1140px;
    display: grid;
    grid-template-columns: auto;
    /* margin: auto; */
    text-align: center;
    margin-top: 50px;
    padding-top: 50px;
}

.plants-heading{
    font-size: 50px;
    
}

.plants-description{
    font-size: 22px;
    color: #8987A1;
}

.card-div{
    margin-top: 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.card{
    text-align: center;
    width: 270px;
    height: 484px;
    display: grid;
    /* row-gap: 10px; */
}

.card-img{
    width: 270px;
}

.card-title{
   font-size: 22px;
}

.card-prize{
    font-size: 22px;
}

.card-btn{
    background-color: #E95A08;
    font-size: 16px;
    color: #F5F8FF;
}

.lover-container{
    display: flex;
    width: 1140px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    /* gap: 60px; */
}

.lover-img{
    width: 540px;
    
}

.lover-content{
    width: 540px;
}

.lover-title{
    font-size: 50px;
}

.lover-list{

}

ul li {
    /* width: 540px; */
    /* height: 108px; */
    margin-top: 20px;
    /* column-gap: 20px; */
}



.lover-item{
    font-size: 22px;
    color: #8987A1;
    padding-left: 10px;
}

/* Deal section */

.deal-section{
    /* width: 1140px; */
    /* margin: auto; */
    margin-top: 50px;
    
}

.break-line{
    display: none;
}

/* off section */

.off-section{
    width: 1140px;
    margin: auto;
    margin-top: 50px;
}

.off-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 28px;
}

.bloom-plant{
    background-image: url('/assets/deal-bloom.png');
    width: 366px;
    height: 206px;
    background-repeat: no-repeat;
}

.ana-plant{
    background-image: url('/assets/deal-ana.png');
     background-repeat: no-repeat;
    width: 366px;
    height: 206px;
    margin-top: 10px;
}

.zabo-plant{
    background-image: url('/assets/deal-zabo.png');
     background-repeat: no-repeat;
    width: 753px;
    height: 423px;
}

.bloom-plant, .ana-plant, .zabo-plant {
      display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    border-radius: 8px;
}


@media screen  and (max-width: 480px) {

    .header-content, .banner-content{
        width: 360px;
    }

    .logo-img{
        width: 63px;
    }

    .active{
        width: 22px;
        height: 15px;
        font-size: 16px;
    }

    .banner-content{
        width: 100%;
        flex-direction: column;
        margin-top: auto;
        padding-top: 20px;
    }

    .banner-heading{
    font-size: 24px;
    color: #000000;
}

.banner-description{
    font-size: 14px;
    color: gray;
    /* text-shadow:  gray; */
}

.banner-text{
    width: 360px;
    margin: 20px auto;
}

    .banner-img{
        width: 100%;
    }

    .mobile-nav{
        display: inline-block;
    }

    .desktop-nav{
        display: none;
    }

    /* card section */

    .plants-container{
    width: 393px;
    margin: auto;
}

.plants-content{
    width: 336px;
    margin: auto;
    /* padding: 10px; */
}

br{
    display: none;
}

.plants-heading{
    font-size: 24px;
}

.plants-description{
    font-size: 14px;
    margin-top: 10px;
}

.card-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 10px;
    padding-right: 10px;
}

.card{
    width: 171px;
    height: 340px;
   
}

.card-title, .card-prize, .card-btn{
   font-size: 16px;
}

/* lover section */

.lover-container{
    width: 100%;
    flex-direction: column;
}

.lover-img, .lover-content{
    width: 361px;
    
}

.lover-content{
    margin-top: 18px;
}

.lover-title{
    font-size: 24px;
}

.lover-item{
    font-size: 14px;
    
} 

ul li {
    margin-top: 16px;
}

/* Deal section */

.deal-section{
    width: 393px;
    margin: auto;
    margin-top: 100px;
}

.deal-content{
    /* width: 336px; */
}

.deal-title{
    font-size: 24px;
}

.deal-subtitle{
    font-size: 14px;
    width: 336px;
    margin: auto;
}

/* off section */

.off-section{
    padding: 0px 10px;
    /* margin: auto; */
    width: 393px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.off-content{
    grid-template-columns: 1fr;
    gap: 10px;
    margin-top: 50px;
}

.off-title{
    font-size: 20px;
}

.zabo-plant > a{
    font-size: 16px;
}

.bloom-plant, .ana-plant, .zabo-plant{
    width: 361px;
    height: 184px;    
}
    
}

